@import "tailwindcss";

:root {
  --base-accent: #F4F4F5;
  --base-accent-foreground: #18181B;
  --base-background: #FFFFFF;
  --base-background-2: #F4F4F5;
  --base-border: #E4E4E7;
  --base-card: #FFFFFF;
  --base-card-foreground: #09090B;
  --base-destructive: #DC2626;
  --base-destructive-foreground: #FEF2F2;
  --base-foreground: #09090B;
  --base-input: #E4E4E7;
  --base-muted: #F4F4F5;
  --base-muted-foreground: #71717A;
  --base-popover: #FFFFFF;
  --base-popover-foreground: #09090B;
  --base-primary: #18181B;
  --base-primary-foreground: #FAFAFA;
  --base-ring: #A1A1AA;
  --base-ring-offset: #FFFFFF;
  --base-secondary: #F4F4F5;
  --base-secondary-foreground: #18181B;
  --base-chart-1: #EA580C;
  --base-chart-2: #0D9488;
  --base-chart-3: #164E63;
  --base-chart-4: #FBBF24;
  --base-chart-5: #F59E0B;
  --base-sidebar: #FAFAFA;
  --base-sidebar-foreground: #09090B;
  --base-sidebar-primary-foreground: #FAFAFA;
  --base-sidebar-primary: #18181B;
  --base-sidebar-accent: #F4F4F5;
  --base-sidebar-accent-foreground: #18181B;
  --base-sidebar-border: #E4E4E7;
  --base-sidebar-ring: #A1A1AA;
  --alpha-5: rgba(255,255,255,0.95);
  --alpha-10: rgba(255,255,255,0.9);
  --alpha-20: rgba(255,255,255,0.8);
  --alpha-30: rgba(255,255,255,0.7);
  --alpha-40: rgba(255,255,255,0.6);
  --alpha-50: rgba(255,255,255,0.5);
  --alpha-60: rgba(255,255,255,0.4);
  --alpha-70: rgba(255,255,255,0.3);
  --alpha-80: rgba(255,255,255,0.2);
  --alpha-90: rgba(255,255,255,0.1);
  --custom-destructive-20-dark-destructive-40: rgba(220,38,38,0.2);
  --custom-destructive-40-dark-destructive-60: rgba(220,38,38,0.4);
  --custom-dark-input: rgba(255,255,255,0);
  --custom-outline: rgba(161,161,170,0.5);
  --custom-outline-10-dark-outline-20: rgba(161,161,170,0.1);
  --custom-blue-500-dark-blue-600: #3B82F6;
  --custom-bg-background-20-dark-bg-background-10: rgba(255,255,255,0.2);
  --custom-bg-primary-5-dark-bg-primary-10: rgba(23,23,23,0.05);
  --colors-accent-light: #F4F4F5;
  --colors-accent-dark: #3F3F46;
  --colors-accent-foreground-light: #18181B;
  --colors-accent-foreground-dark: #FAFAFA;
  --colors-background-light: #FFFFFF;
  --colors-background-light-2: #F4F4F5;
  --colors-background-dark: #09090B;
  --colors-border-light: #E4E4E7;
  --colors-border-dark: rgba(255,255,255,0.1);
  --colors-card-light: #FFFFFF;
  --colors-card-dark: #18181B;
  --colors-card-foreground-light: #09090B;
  --colors-card-foreground-dark: #FAFAFA;
  --colors-destructive-light: #DC2626;
  --colors-destructive-dark: #F87171;
  --colors-destructive-foreground-light: #FEF2F2;
  --colors-destructive-foreground-dark: #FEF2F2;
  --colors-foreground-light: #09090B;
  --colors-foreground-dark: #FAFAFA;
  --colors-input-light: #E4E4E7;
  --colors-input-dark: rgba(255,255,255,0.15);
  --colors-muted-light: #F4F4F5;
  --colors-muted-dark: #27272A;
  --colors-muted-foreground-light: #71717A;
  --colors-muted-foreground-dark: #A1A1AA;
  --colors-popover-light: #FFFFFF;
  --colors-popover-dark: #27272A;
  --colors-popover-foreground-light: #09090B;
  --colors-popover-foreground-dark: #FAFAFA;
  --colors-primary-light: #18181B;
  --colors-primary-dark: #E4E4E7;
  --colors-primary-foreground-light: #FAFAFA;
  --colors-primary-foreground-dark: #18181B;
  --colors-ring-light: #A1A1AA;
  --colors-ring-dark: #71717A;
  --colors-secondary-light: #F4F4F5;
  --colors-secondary-dark: #27272A;
  --colors-secondary-foreground-light: #18181B;
  --colors-secondary-foreground-dark: #FAFAFA;
  --colors-chart-1-light: #EA580C;
  --colors-chart-1-dark: #1D4ED8;
  --colors-chart-2-light: #0D9488;
  --colors-chart-2-dark: #10B981;
  --colors-chart-3-light: #164E63;
  --colors-chart-3-dark: #F59E0B;
  --colors-chart-4-light: #FBBF24;
  --colors-chart-4-dark: #A855F7;
  --colors-chart-5-light: #F59E0B;
  --colors-chart-5-dark: #F43F5E;
  --colors-sidebar-light: #FAFAFA;
  --colors-sidebar-dark: #18181B;
  --colors-sidebar-foreground-light: #09090B;
  --colors-sidebar-foreground-dark: #FAFAFA;
  --colors-sidebar-primary-light: #18181B;
  --colors-sidebar-primary-dark: #1D4ED8;
  --colors-sidebar-primary-foreground-light: #FAFAFA;
  --colors-sidebar-primary-foreground-dark: #FAFAFA;
  --colors-sidebar-accent-light: #F4F4F5;
  --colors-sidebar-accent-dark: #27272A;
  --colors-sidebar-accent-foreground-light: #18181B;
  --colors-sidebar-accent-foreground-dark: #FAFAFA;
  --colors-sidebar-border-light: #E4E4E7;
  --colors-sidebar-border-dark: rgba(255,255,255,0.1);
  --colors-sidebar-ring-light: #A1A1AA;
  --colors-sidebar-ring-dark: #52525B;
  --font-font-sans: Geist;
  --font-font-serif: Georgia;
  --font-font-mono: Geist Mono;
  --breakpoint-sm: 640;
  --breakpoint-md: 768;
  --breakpoint-lg: 1024;
  --breakpoint-xl: 1280;
  --breakpoint-2xl: 1536;
  --container-3xs: 256;
  --container-2xs: 288;
  --container-xs: 320;
  --container-sm: 384;
  --container-md: 448;
  --container-lg: 512;
  --container-xl: 576;
  --container-2xl: 672;
  --container-3xl: 768;
  --container-4xl: 896;
  --container-5xl: 1024;
  --container-6xl: 1152;
  --container-7xl: 1280;
  --text-xs-font-size: 12;
  --text-xs-line-height: 16;
  --text-sm-font-size: 14;
  --text-sm-line-height: 20;
  --text-base-font-size: 16;
  --text-base-line-height: 24;
  --text-lg-font-size: 18;
  --text-lg-line-height: 28;
  --text-xl-font-size: 20;
  --text-xl-line-height: 28;
  --text-2xl-font-size: 24;
  --text-2xl-line-height: 32;
  --text-3xl-font-size: 30;
  --text-3xl-line-height: 36;
  --text-4xl-font-size: 36;
  --text-4xl-line-height: 40;
  --text-5xl-font-size: 48;
  --text-5xl-line-height: 48;
  --text-6xl-font-size: 60;
  --text-6xl-line-height: 60;
  --text-7xl-font-size: 72;
  --text-7xl-line-height: 72;
  --text-8xl-font-size: 96;
  --text-8xl-line-height: 96;
  --text-9xl-font-size: 128;
  --text-9xl-line-height: 128;
  --font-weight-thin: 100;
  --font-weight-extralight: 200;
  --font-weight-light: 300;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-semibold: 600;
  --font-weight-bold: 700;
  --font-weight-extrabold: 800;
  --font-weight-black: 900;
  --radius-xs: 2;
  --radius-sm: 6;
  --radius-md: 8;
  --radius-lg: 10;
  --radius-xl: 14;
  --radius-2xl: 16;
  --radius-3xl: 24;
  --radius-4xl: 32;
  --shadow-2xs-offset-x: 0;
  --shadow-2xs-offset-y: 1;
  --shadow-2xs-blur-radius: 0;
  --shadow-2xs-spread-radius: 0;
  --shadow-2xs-color: rgba(0,0,0,0.05);
  --shadow-xs-offset-x: 0;
  --shadow-xs-offset-y: 1;
  --shadow-xs-blur-radius: 2;
  --shadow-xs-spread-radius: 0;
  --shadow-xs-color: rgba(0,0,0,0.05);
  --shadow-sm-1-offset-x: 0;
  --shadow-sm-1-offset-y: 1;
  --shadow-sm-1-blur-radius: 3;
  --shadow-sm-1-spread-radius: 0;
  --shadow-sm-1-color: rgba(0,0,0,0.1);
  --shadow-sm-2-offset-x: 0;
  --shadow-sm-2-offset-y: 1;
  --shadow-sm-2-blur-radius: 2;
  --shadow-sm-2-spread-radius: -1;
  --shadow-sm-2-color: rgba(0,0,0,0.1);
  --shadow-md-1-offset-x: 0;
  --shadow-md-1-offset-y: 4;
  --shadow-md-1-blur-radius: 6;
  --shadow-md-1-spread-radius: -1;
  --shadow-md-1-color: rgba(0,0,0,0.1);
  --shadow-md-2-offset-x: 0;
  --shadow-md-2-offset-y: 2;
  --shadow-md-2-blur-radius: 4;
  --shadow-md-2-spread-radius: -2;
  --shadow-md-2-color: rgba(0,0,0,0.1);
  --shadow-lg-1-offset-x: 0;
  --shadow-lg-1-offset-y: 10;
  --shadow-lg-1-blur-radius: 15;
  --shadow-lg-1-spread-radius: -3;
  --shadow-lg-1-color: rgba(0,0,0,0.1);
  --shadow-lg-2-offset-x: 0;
  --shadow-lg-2-offset-y: 4;
  --shadow-lg-2-blur-radius: 6;
  --shadow-lg-2-spread-radius: -4;
  --shadow-lg-2-color: rgba(0,0,0,0.1);
  --shadow-xl-1-offset-x: 0;
  --shadow-xl-1-offset-y: 20;
  --shadow-xl-1-blur-radius: 25;
  --shadow-xl-1-spread-radius: -5;
  --shadow-xl-1-color: rgba(0,0,0,0.1);
  --shadow-xl-2-offset-x: 0;
  --shadow-xl-2-offset-y: 8;
  --shadow-xl-2-blur-radius: 10;
  --shadow-xl-2-spread-radius: -6;
  --shadow-xl-2-color: rgba(0,0,0,0.1);
  --shadow-2xl-offset-x: 0;
  --shadow-2xl-offset-y: 25;
  --shadow-2xl-blur-radius: 50;
  --shadow-2xl-spread-radius: -12;
  --shadow-2xl-color: rgba(0,0,0,0.25);
  --inset-shadow-2xs-offset-x: 0;
  --inset-shadow-2xs-offset-y: 1;
  --inset-shadow-2xs-blur-radius: 0;
  --inset-shadow-2xs-spread-radius: 0;
  --inset-shadow-2xs-color: rgba(0,0,0,0.05);
  --inset-shadow-xs-offset-x: 0;
  --inset-shadow-xs-offset-y: 1;
  --inset-shadow-xs-blur-radius: 1;
  --inset-shadow-xs-spread-radius: 0;
  --inset-shadow-xs-color: rgba(0,0,0,0.05);
  --inset-shadow-sm-offset-x: 0;
  --inset-shadow-sm-offset-y: 2;
  --inset-shadow-sm-blur-radius: 4;
  --inset-shadow-sm-spread-radius: 0;
  --inset-shadow-sm-color: rgba(0,0,0,0.05);
  --drop-shadow-xs-offset-x: 0;
  --drop-shadow-xs-offset-y: 1;
  --drop-shadow-xs-blur-radius: 1;
  --drop-shadow-xs-spread-radius: 0;
  --drop-shadow-xs-color: rgba(0,0,0,0.05);
  --drop-shadow-sm-offset-x: 0;
  --drop-shadow-sm-offset-y: 1;
  --drop-shadow-sm-blur-radius: 2;
  --drop-shadow-sm-spread-radius: 0;
  --drop-shadow-sm-color: rgba(0,0,0,0.15);
  --drop-shadow-md-offset-x: 0;
  --drop-shadow-md-offset-y: 3;
  --drop-shadow-md-blur-radius: 3;
  --drop-shadow-md-spread-radius: 0;
  --drop-shadow-md-color: rgba(0,0,0,0.12);
  --drop-shadow-lg-offset-x: 0;
  --drop-shadow-lg-offset-y: 4;
  --drop-shadow-lg-blur-radius: 4;
  --drop-shadow-lg-spread-radius: 0;
  --drop-shadow-lg-color: rgba(0,0,0,0.15);
  --drop-shadow-xl-offset-x: 0;
  --drop-shadow-xl-offset-y: 9;
  --drop-shadow-xl-blur-radius: 7;
  --drop-shadow-xl-spread-radius: 0;
  --drop-shadow-xl-color: rgba(0,0,0,0.1);
  --drop-shadow-2xl-offset-x: 0;
  --drop-shadow-2xl-offset-y: 25;
  --drop-shadow-2xl-blur-radius: 25;
  --drop-shadow-2xl-spread-radius: 0;
  --drop-shadow-2xl-color: rgba(0,0,0,0.15);
  --blur-xs: 4;
  --blur-sm: 8;
  --blur-md: 12;
  --blur-lg: 16;
  --blur-xl: 24;
  --blur-2xl: 40;
  --blur-3xl: 64;
  --container-padding-x: 24;
  --section-padding-y: 96;
  --section-title-gap-xl: 24;
  --section-title-gap-lg: 20;
  --section-title-gap-md: 20;
  --section-title-gap-sm: 16;
  --heading-xl-font-family: Geist;
  --heading-xl-font-size: 48;
  --heading-xl-line-height: 48;
  --heading-xl-font-weight: 700;
  --heading-xl-letter-spacing: 0;
  --heading-lg-font-family: Geist;
  --heading-lg-font-size: 36;
  --heading-lg-line-height: 40;
  --heading-lg-font-weight: 700;
  --heading-lg-letter-spacing: 0;
  --heading-md-font-family: Geist;
  --heading-md-font-size: 30;
  --heading-md-line-height: 36;
  --heading-md-font-weight: 700;
  --heading-md-letter-spacing: 0;
  --heading-sm-font-family: Geist;
  --heading-sm-font-size: 24;
  --heading-sm-line-height: 32;
  --heading-sm-font-weight: 700;
  --heading-sm-letter-spacing: 0;
}

.dark {
  --base-accent: #3F3F46;
  --base-accent-foreground: #FAFAFA;
  --base-background: #09090B;
  --base-background-2: #09090B;
  --base-border: rgba(255,255,255,0.1);
  --base-card: #18181B;
  --base-card-foreground: #FAFAFA;
  --base-destructive: #F87171;
  --base-destructive-foreground: #FEF2F2;
  --base-foreground: #FAFAFA;
  --base-input: rgba(255,255,255,0.15);
  --base-muted: #27272A;
  --base-muted-foreground: #A1A1AA;
  --base-popover: #27272A;
  --base-popover-foreground: #FAFAFA;
  --base-primary: #E4E4E7;
  --base-primary-foreground: #18181B;
  --base-ring: #71717A;
  --base-ring-offset: #09090B;
  --base-secondary: #27272A;
  --base-secondary-foreground: #FAFAFA;
  --base-chart-1: #1D4ED8;
  --base-chart-2: #10B981;
  --base-chart-3: #F59E0B;
  --base-chart-4: #A855F7;
  --base-chart-5: #F43F5E;
  --base-sidebar: #18181B;
  --base-sidebar-foreground: #FAFAFA;
  --base-sidebar-primary-foreground: #FAFAFA;
  --base-sidebar-primary: #1D4ED8;
  --base-sidebar-accent: #27272A;
  --base-sidebar-accent-foreground: #FAFAFA;
  --base-sidebar-border: rgba(255,255,255,0.1);
  --base-sidebar-ring: #52525B;
  --alpha-5: rgba(10,10,10,0.95);
  --alpha-10: rgba(10,10,10,0.9);
  --alpha-20: rgba(10,10,10,0.8);
  --alpha-30: rgba(10,10,10,0.7);
  --alpha-40: rgba(10,10,10,0.6);
  --alpha-50: rgba(10,10,10,0.5);
  --alpha-60: rgba(10,10,10,0.4);
  --alpha-70: rgba(10,10,10,0.3);
  --alpha-80: rgba(10,10,10,0.2);
  --alpha-90: rgba(10,10,10,0.1);
  --custom-background-dark-input-30: rgba(255,255,255,0.05);
  --custom-background-dark-calendar-30: rgba(255,255,255,0.05);
  --custom-accent-dark-input-50: rgba(255,255,255,0.08);
  --custom-accent-dark-calendar-50: rgba(255,255,255,0.08);
  --custom-input-dark-input-80: rgba(255,255,255,0.12);
  --custom-destructive-dark-destructive-60: rgba(248,113,113,0.6);
  --custom-destructive-dark-destructive-70: rgba(248,113,113,0.7);
  --custom-destructive-dark-destructive-90: rgba(248,113,113,0.9);
  --custom-destructive-20-dark-destructive-40: rgba(248,113,113,0.4);
  --custom-destructive-40-dark-destructive-60: rgba(248,113,113,0.6);
  --custom-outline: rgba(82,82,91,0.5);
  --custom-outline-10-dark-outline-20: rgba(82,82,91,0.2);
  --custom-blue-500-dark-blue-600: #2563EB;
  --custom-border-dark-input-dark: rgba(255,255,255,0.15);
  --custom-ring-dark-input-dark: rgba(255,255,255,0.15);
  --custom-ring-dark-input-dark-2: rgba(255,255,255,0.15);
  --custom-bg-background-20-dark-bg-background-10: rgba(10,10,10,0.1);
  --custom-bg-primary-5-dark-bg-primary-10: rgba(255,255,255,0.1);
}
